<p>Index</p>


<%= form_tag(businesses_path, :method => "get", id: "business-search") do %> 
  <%= select_tag :category, options_from_collection_for_select(@category, "id", "name") %>
  <%= submit_tag :Submit %>
<% end %>

<!-- <div class="row"> -->
	<% @businesses.each do |business| %>
    <div class="large-4 columns">
    	<%= link_to image_tag(business.streetview_image), "#", "data-reveal-id" => "streetviewModal" %>
      <%= link_to  "hello", business.streetview_tour %>
	    <p><%= link_to business.name, business %></p>
	    <p><%= "Address: #{business.address}" %><p></br>
	  </div>
  <% end %>
  
  
    <iframe width="420" height="315" src="
    https://maps.google.ca/maps?hl=en_uk&amp;ll=43.64937,-79.386129&amp;layer=c&amp;panoid=3L5NCiIf__oAAAQIt-clrA&amp;cbp=,191.0,,0,-0.0&amp;t=m&amp;z=17&amp;source=embed&amp;output=svembed" frameborder="0" allowfullscreen></iframe>
  

  
</div>  
<!-- </div> -->