<p>Index</p>


<div id="search"> 
<%= form_tag(businesses_path, :method => "get", id: "business-search") do %> 
  <%= select_tag :category, options_from_collection_for_select(@category, "id", "name") %>
  <%= submit_tag :Submit, :class => "button tiny" %>
<% end %>
</div>



<div>
<%= page_entries_info @businesses %>
</div>  
<!-- <div class="row"> -->
	<% @businesses.each do |business| %>
    <div class="large-4 columns">
    	<%= link_to image_tag(business.image.url(:medium)), business, id: "#{business.name}", :class => "streetview-image" %>
	    <p><%= business.name %></p>
	    <p><%= business.formatted_address %><p>
      <p><%= business.country %></p></br>

	  </div>
  <% end %>

  
  
<%= paginate @businesses %>  
<!-- </div> -->