<div id="video-container">
	<%= video_tag("tajmahal.mp4", autoplay: true, loop: true, muted: true, :id => "taj-video") %>
	<div id="video-text">
    <h1 class="home-text" id="slogan">Visit places around the world, at home</h1>
    <div>
      <%= button_to "Visit Places", businesses_path, :method => :get, :class => 'button', :id => "home-button" %>
    </div>
	</div>
</div>

<div id="country-select-title">
  <h2 id="select-title">Pick a country to visit</h2>
</div>

<div class="row">
	<div class="large-4 columns country" id="canada">
      <%= link_to image_tag("canada.jpg"), businesses_path(:country => "Canada", :category => "") %>
  </div>

  <div class="large-4 columns country">  
    	<%= link_to image_tag("unitedstates.jpg"), businesses_path(:country => "United States", :category => "") %>
	</div>

	<div class="large-4 columns country">  
  	<%= link_to image_tag("india.jpg"), businesses_path(:country => "India", :category => "") %>  
	</div>
	
	<div class="large-4 columns country">
      <%= link_to image_tag("japan.jpg"), businesses_path(:country => "Japan", :category => "") %>
  </div>

  <div class="large-4 columns country">  
    	<%= link_to image_tag("cambodia.jpg"), businesses_path(:country => "Cambodia", :category => "") %>
	</div>

	<div class="large-4 columns country">  
    <%= link_to image_tag("antarctica.jpg"), businesses_path(:country => "Antarctica", :category => "") %>
	</div>

	<div id="canada" class="large-4 columns country">
      <%= link_to image_tag("canada.jpg"), businesses_path(:country => "Canada", :category => "") %>
  </div>

  <div class="large-4 columns country">  
    	<%= link_to image_tag("unitedstates.jpg"), businesses_path(:country => "United States", :category => "") %>
	</div>

	<div class="large-4 columns country">  
    	<%= link_to image_tag("india.jpg"), businesses_path(:country => "India", :category => "") %>
	</div>
</div>