<!DOCTYPE html>
<html>
<head>
  <title>Innerspace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>
    <div class="alert-box success radius"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert-box alert radius"><%= flash[:alert] %></div>
  <% end %>

<%= yield %>

</body>
</html>
