<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Scouting It" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Scouting It", root_path%></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if user_signed_in? %>
            <li class="active"><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li class="has-dropdown">
              <a href="#">Logged in as <strong><%= current_user.display_name %></strong></a>
              <ul class="dropdown">
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class="active"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <li class="active"><%= link_to "Sign up", new_user_registration_path %></li>
            <li class="active"><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><%= link_to "View All", businesses_path %></li>
          <li><%= link_to "Recent", recent_businesses_path %></li>
          <li><%= link_to "Random", random_businesses_path %></li>
        </ul>
      </section>
    </nav>

    <% if flash[:notice] %>
      <div class="alert-box success radius"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert-box alert radius"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
    <div id="footer-clear">
    </div>

    <div id="footer">
      <ul id="footer-links">
        <li class="footer-info"><%= link_to "About", about_path %></li>
        <li class="footer-info"><%= link_to "Contact", contact_us_path %></li>
      </ul>
      <ul id="footer-links">
        <li class="footer-info"><%= link_to image_tag("facebook.png", size: "32"), "https://www.facebook.com/pages/Scouting-It/581992745242976" %></li>
        <li class="footer-info"><%= link_to image_tag("twitter.png", size: "32"), "https://twitter.com/scoutingitout" %></li>
      <ul>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>